skip_confirmation: true
reset_confirmation: yes
container_manager: crio

crio_registries:
  - prefix: docker.io
    insecure: false
    blocked: false
    location: registry-1.docker.io
    unqualified: true

crio_insecure_registries:
  - registry.k8s.mansion.shitcluster.io:5000

etcd_data_dir: /opt/etcd
# etcd_access_addresses: https://etcd.k8s.mansion.shitcluster.io:2379
# etcd_client_url: https://etcd.k8s.mansion.shitcluster.io:2379


cluster_name: &cluster_name k8s.mansion.shitcluster.io
dns_domain: *cluster_name
resolvconf_mode: none

upstream_dns_servers: [ 172.25.0.2 ]
nameservers: [ 172.24.0.2 ]
searchdomains:
  - *cluster_name
  - mansion.shitcluster.io
docker_options: --insecure-registry=registry.k8s.mansion.shitcluster.io

kube_network_plugin: calico
kube_network_plugin_multus: true

kube_proxy_strict_arp: true
metallb_enabled: true
metallb_namespace: "metallb-system"

#metallb_speaker_enabled: false
metallb_config:
  controller:
    nodeselector:
      kubernetes.io/os: linux
    tolerations:
    - key: "node-role.kubernetes.io/control-plane"
      operator: "Equal"
      value: ""
      effect: "NoSchedule"

metallb_config:
  layer2:
    - primary-mgmt
    - secondary-mgmt
    - primary-public
    - secondary-public
  address_pools:
    primary-mgmt:
      ip_range:
        - 172.24.1.0/25
      auto-assign: false
    secondary-mgmt:
      ip_range:
        - 172.24.1.128/25
      auto-assign: true
    primary-public:
      ip_range:
        - 172.25.1.0/25
      auto-assign: false
    secondary-public:
      ip_range:
        - 172.25.1.128/25
      auto-assign: true
#calico_advertise_service_loadbalancer_ips: "{{ metallb_config.address_pools.primary.ip_range }}"

apiserver_loadbalancer_domain_name: "api.k8s.mgmt.mansion.shitcluster.io"
kube_vip_enabled: true
kube_vip_controlplane_enabled: true
kube_vip_address: 172.24.0.48
kube_vip_arp_enabled: true
kube_apiserver_port: 6443
loadbalancer_apiserver:
  address: "{{ kube_vip_address }}"
  port: "{{ kube_apiserver_port }}"
kube_vip_interface: br-management
loadbalancer_apiserver_localhost: False

# LoadBalancer for services
kube_vip_services_enabled: false

download_run_once: True
#download_localhost: True
download_cache_dir: /var/tmp/kubespray_cache
download_keep_remote_cache: True
